<app-gist-search (usernameChange)="getGistsForUser($event)"></app-gist-search>
<ng-container *ngIf="isDefined(username) && isArrayEmpty(gists)">
  <mat-card>
    No gists for user {{username}}.
  </mat-card>
</ng-container>
<ng-container *ngIf="isArrayNotEmpty">
  <div *ngFor="let gist of gists">
    <app-gist-preview [gist]="gist"></app-gist-preview>
  </div>
</ng-container>
<div>
  <button mat-fab color="primary" [disabled]="!prevPage" (click)="getPrevPage()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-fab color="primary" [disabled]="!nextPage" (click)="getNextPage()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
<mat-form-field appearance="fill">
  <mat-label>Items per page</mat-label>
  <mat-select>
    <mat-option *ngFor="let perPageOption of perPageOptions"
                [value]="perPage"
                (onSelectionChange)="onPerPageChange(perPageOption)">
      {{perPageOption}}
    </mat-option>
  </mat-select>
</mat-form-field>
